<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Province</key>
		<string>山东省</string>
		<key>CityArr</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>青岛</string>
				<key>Town</key>
				<array>
					<string>市南区</string>
					<string>市北区</string>
					<string>李沧区</string>
					<string>城阳区</string>
					<string>崂山区</string>
					<string>黄岛区</string>
					<string>胶州</string>
					<string>即墨</string>
					<string>平度</string>
					<string>莱西</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>济南</string>
				<key>Town</key>
				<array>
					<string></string>
					<string>商河县</string>
					<string>章丘</string>
					<string>历下区</string>
					<string>市中区</string>
					<string>天桥区</string>
					<string>槐荫区</string>
					<string>历城区</string>
					<string>长清区</string>
					<string>平阴县</string>
					<string>济阳县</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>淄博市</string>
				<key>Town</key>
				<array>
					<string>淄川区</string>
					<string>张店区</string>
					<string>博山区</string>
					<string>临淄区</string>
					<string>周村区</string>
					<string>桓台县</string>
					<string>高青县</string>
					<string>沂源县</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>枣庄</string>
				<key>Town</key>
				<array>
					<string>薛城区</string>
					<string>中区</string>
					<string>峄城区</string>
					<string>台儿庄区</string>
					<string>山亭区</string>
					<string>滕州</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>东营市</string>
				<key>Town</key>
				<array>
					<string>东营区</string>
					<string>河口区</string>
					<string>垦利县</string>
					<string>利津县</string>
					<string>广饶县</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>烟台市</string>
				<key>Town</key>
				<array>
					<string>芝罘区</string>
					<string>福山区</string>
					<string>牟平区</string>
					<string>莱山区</string>
					<string>长岛县</string>
					<string>龙口</string>
					<string>莱阳</string>
					<string>莱州</string>
					<string>蓬莱</string>
					<string>招远</string>
					<string>栖霞</string>
					<string>海阳</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>潍坊市</string>
				<key>Town</key>
				<array>
					<string>潍城区</string>
					<string>寒亭区</string>
					<string>坊子区</string>
					<string>奎文区</string>
					<string>临朐县</string>
					<string>昌乐县</string>
					<string>青州</string>
					<string>诸城</string>
					<string>寿光</string>
					<string>安丘</string>
					<string>高密</string>
					<string>昌邑</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>济宁市</string>
				<key>Town</key>
				<array>
					<string>中区</string>
					<string>任城区</string>
					<string>微山县</string>
					<string>鱼台县</string>
					<string>金乡县</string>
					<string>嘉祥县</string>
					<string>汶上县</string>
					<string>泗水县</string>
					<string>梁山县</string>
					<string>曲阜</string>
					<string>兖州</string>
					<string>邹城</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>泰安市</string>
				<key>Town</key>
				<array>
					<string>泰山区</string>
					<string>岱岳区</string>
					<string>宁阳县</string>
					<string>东平县</string>
					<string>新泰</string>
					<string>肥城</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>威海市</string>
				<key>Town</key>
				<array>
					<string>环翠区</string>
					<string>文登</string>
					<string>荣成</string>
					<string>乳山</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>日照市</string>
				<key>Town</key>
				<array>
					<string>东港区</string>
					<string>岚山区</string>
					<string>五莲县</string>
					<string>莒县</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>莱芜市</string>
				<key>Town</key>
				<array>
					<string>莱城区</string>
					<string>钢城区</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>临沂市</string>
				<key>Town</key>
				<array>
					<string>兰山区</string>
					<string>罗庄区</string>
					<string>河东区</string>
					<string>沂南县</string>
					<string>郯城县</string>
					<string>沂水县</string>
					<string>苍山县</string>
					<string>费县</string>
					<string>平邑县</string>
					<string>莒南县</string>
					<string>蒙阴县</string>
					<string>临沭县</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>德州市</string>
				<key>Town</key>
				<array>
					<string>德城区</string>
					<string>陵县</string>
					<string>宁津县</string>
					<string>庆云县</string>
					<string>临邑县</string>
					<string>齐河县</string>
					<string>平原县</string>
					<string>夏津县</string>
					<string>武城县</string>
					<string>乐陵</string>
					<string>禹城</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>聊城市</string>
				<key>Town</key>
				<array>
					<string>东昌府区</string>
					<string>阳谷县</string>
					<string>莘县</string>
					<string>茌平县</string>
					<string>东阿县</string>
					<string>冠县</string>
					<string>高唐县</string>
					<string>临清</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>滨州市</string>
				<key>Town</key>
				<array>
					<string>滨城区</string>
					<string>惠民县</string>
					<string>阳信县</string>
					<string>无棣县</string>
					<string>沾化县</string>
					<string>博兴县</string>
					<string>邹平县</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>菏泽市</string>
				<key>Town</key>
				<array>
					<string>牡丹区</string>
					<string>曹县</string>
					<string>单县</string>
					<string>成武县</string>
					<string>巨野县</string>
					<string>郓城县</string>
					<string>鄄城县</string>
					<string>定陶县</string>
					<string>东明县</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Province</key>
		<string>浙江省</string>
		<key>CityArr</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>杭州市</string>
				<key>Town</key>
				<array>
					<string>上城区</string>
					<string>下城区</string>
					<string>江干区</string>
					<string>拱墅区</string>
					<string>西湖区</string>
					<string>滨江区</string>
					<string>萧山区</string>
					<string>余杭区</string>
					<string>桐庐县</string>
					<string>淳安县</string>
					<string>建德</string>
					<string>富阳</string>
					<string>临安</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>宁波市</string>
				<key>Town</key>
				<array>
					<string>海曙区</string>
					<string>江东区</string>
					<string>江北区</string>
					<string>北仑区</string>
					<string>镇海区</string>
					<string>鄞州区</string>
					<string>象山县</string>
					<string>宁海县</string>
					<string>余姚</string>
					<string>慈溪</string>
					<string>奉化</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>温州市</string>
				<key>Town</key>
				<array>
					<string>鹿城区</string>
					<string>龙湾区</string>
					<string>瓯海区</string>
					<string>洞头县</string>
					<string>永嘉县</string>
					<string>平阳县</string>
					<string>苍南县</string>
					<string>文成县</string>
					<string>泰顺县</string>
					<string>瑞安</string>
					<string>乐清</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>嘉兴市</string>
				<key>Town</key>
				<array>
					<string>秀城区</string>
					<string>秀洲区</string>
					<string>嘉善县</string>
					<string>海盐县</string>
					<string>海宁</string>
					<string>平湖</string>
					<string>桐乡</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>湖州市</string>
				<key>Town</key>
				<array>
					<string>吴兴区</string>
					<string>南浔区</string>
					<string>德清县</string>
					<string>长兴县</string>
					<string>安吉县</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>绍兴市</string>
				<key>Town</key>
				<array>
					<string>越城区</string>
					<string>绍兴县</string>
					<string>新昌县</string>
					<string>诸暨</string>
					<string>上虞</string>
					<string>嵊州</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>金华市</string>
				<key>Town</key>
				<array>
					<string>婺城区</string>
					<string>金东区</string>
					<string>武义县</string>
					<string>浦江县</string>
					<string>磐安县</string>
					<string>兰溪</string>
					<string>义乌</string>
					<string>东阳</string>
					<string>永康</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>衢州市</string>
				<key>Town</key>
				<array>
					<string>柯城区</string>
					<string>衢江区</string>
					<string>常山县</string>
					<string>开化县</string>
					<string>龙游县</string>
					<string>江山</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>舟山市</string>
				<key>Town</key>
				<array>
					<string>定海区</string>
					<string>普陀区</string>
					<string>岱山县</string>
					<string>嵊泗县</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>台州市</string>
				<key>Town</key>
				<array>
					<string>椒江区</string>
					<string>黄岩区</string>
					<string>路桥区</string>
					<string>玉环县</string>
					<string>三门县</string>
					<string>天台县</string>
					<string>仙居县</string>
					<string>温岭</string>
					<string>临海</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>丽水市</string>
				<key>Town</key>
				<array>
					<string>莲都区</string>
					<string>青田县</string>
					<string>缙云县</string>
					<string>遂昌县</string>
					<string>松阳县</string>
					<string>云和县</string>
					<string>庆元县</string>
					<string>景宁畲族自治县</string>
					<string>龙泉</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Province</key>
		<string>河北省</string>
		<key>CityArr</key>
		<array>
			<dict>
				<key>CityName</key>
				<string>石家庄市</string>
				<key>Town</key>
				<array>
					<string>长安区</string>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>新华区</string>
					<string>井陉矿区</string>
					<string>裕华区</string>
					<string>井陉县</string>
					<string>正定县</string>
					<string>栾城县</string>
					<string>行唐县</string>
					<string>灵寿县</string>
					<string>高邑县</string>
					<string>深泽县</string>
					<string>赞皇县</string>
					<string>无极县</string>
					<string>平山县</string>
					<string>元氏县</string>
					<string>赵县</string>
					<string>辛集</string>
					<string>藁城</string>
					<string>晋州</string>
					<string>新乐</string>
					<string>鹿泉</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>唐山市</string>
				<key>Town</key>
				<array>
					<string>路南区</string>
					<string>路北区</string>
					<string>古冶区</string>
					<string>开平区</string>
					<string>丰南区</string>
					<string>丰润区</string>
					<string>滦县</string>
					<string>滦南县</string>
					<string>乐亭县</string>
					<string>迁西县</string>
					<string>玉田县</string>
					<string>唐海县</string>
					<string>遵化</string>
					<string>迁安</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>秦皇岛市</string>
				<key>Town</key>
				<array>
					<string>海港区</string>
					<string>山海关区</string>
					<string>戴河区</string>
					<string>青龙满族自治县</string>
					<string>昌黎县</string>
					<string>抚宁县</string>
					<string>卢龙县</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>邯郸市</string>
				<key>Town</key>
				<array>
					<string>邯山区</string>
					<string>丛台区</string>
					<string>复兴区</string>
					<string>峰峰矿区</string>
					<string>邯郸县</string>
					<string>临漳县</string>
					<string>成安县</string>
					<string>大名县</string>
					<string>涉县</string>
					<string>磁县</string>
					<string>肥乡县</string>
					<string>永年县</string>
					<string>邱县</string>
					<string>鸡泽县</string>
					<string>广平县</string>
					<string>馆陶县</string>
					<string>魏县</string>
					<string>曲周县</string>
					<string>武安</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>邢台市</string>
				<key>Town</key>
				<array>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>邢台县</string>
					<string>临城县</string>
					<string>内丘县</string>
					<string>柏乡县</string>
					<string>隆尧县</string>
					<string>任县</string>
					<string>南和县</string>
					<string>宁晋县</string>
					<string>巨鹿县</string>
					<string>新河县</string>
					<string>广宗县</string>
					<string>平乡县</string>
					<string>威县</string>
					<string>清河县</string>
					<string>临西县</string>
					<string>南宫</string>
					<string>沙河</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>保定市</string>
				<key>Town</key>
				<array>
					<string>新区</string>
					<string>北区</string>
					<string>南区</string>
					<string>满城县</string>
					<string>清苑县</string>
					<string>涞水县</string>
					<string>阜平县</string>
					<string>徐水县</string>
					<string>定兴县</string>
					<string>唐县</string>
					<string>高阳县</string>
					<string>容城县</string>
					<string>涞源县</string>
					<string>望都县</string>
					<string>安新县</string>
					<string>易县</string>
					<string>曲阳县</string>
					<string>蠡县</string>
					<string>顺平县</string>
					<string>博野县</string>
					<string>雄县</string>
					<string>涿州</string>
					<string>定州</string>
					<string>安国</string>
					<string>高碑店</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>张家口市</string>
				<key>Town</key>
				<array>
					<string>桥东区</string>
					<string>桥西区</string>
					<string>宣化区</string>
					<string>下花园区</string>
					<string>宣化县</string>
					<string>张北县</string>
					<string>康保县</string>
					<string>沽源县</string>
					<string>尚义县</string>
					<string>蔚县</string>
					<string>阳原县</string>
					<string>怀安县</string>
					<string>万全县</string>
					<string>怀来县</string>
					<string>涿鹿县</string>
					<string>赤城县</string>
					<string>崇礼县</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>承德市</string>
				<key>Town</key>
				<array>
					<string>双桥区</string>
					<string>双滦区</string>
					<string>鹰手营子矿区</string>
					<string>承德县</string>
					<string>兴隆县</string>
					<string>平泉县</string>
					<string>滦平县</string>
					<string>隆化县</string>
					<string>丰宁满族自治县</string>
					<string>宽城满族自治县</string>
					<string>围场满族蒙古族自治县</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>沧州市</string>
				<key>Town</key>
				<array>
					<string>新华区</string>
					<string>运河区</string>
					<string>沧县</string>
					<string>青县</string>
					<string>东光县</string>
					<string>海兴县</string>
					<string>盐山县</string>
					<string>肃宁县</string>
					<string>南皮县</string>
					<string>吴桥县</string>
					<string>献县</string>
					<string>孟村回族自治县</string>
					<string>泊头</string>
					<string>任丘</string>
					<string>黄骅</string>
					<string>河间</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>廊坊市</string>
				<key>Town</key>
				<array>
					<string>安次区</string>
					<string>广阳区</string>
					<string>固安县</string>
					<string>永清县</string>
					<string>香河县</string>
					<string>大城县</string>
					<string>文安县</string>
					<string>大厂回族自治县</string>
					<string>霸州</string>
					<string>三河</string>
				</array>
			</dict>
			<dict>
				<key>CityName</key>
				<string>衡水市</string>
				<key>Town</key>
				<array>
					<string>桃城区</string>
					<string>枣强县</string>
					<string>武邑县</string>
					<string>武强县</string>
					<string>饶阳县</string>
					<string>安平县</string>
					<string>故城县</string>
					<string>景县</string>
					<string>阜城县</string>
					<string>冀州</string>
					<string>深州</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
